.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.container__titulo-destaque {
    color: var(--roxo-destaque);
}

.container__titulo,
.container__titulo-destaque {
    font-family: var(--fonte-2);
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}
.container__texto{
    font-family: var(--fonte-1);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1em 9em;
    text-align: center;
}
.container__botao{
    font-family: var(--fonte-1);
    font-weight: 600;
    color:var( --branco-fundo);
    text-align: center;
    background-color: var(--roxo-destaque);
    text-decoration: none;
    font-size: 24px;
    padding: .5em 1em;
    border-radius: 36px;
    margin-bottom: 1em;
}
.imagem_principal{
    margin: 0 5em 7em;
}
.container__botao:hover{
    background-color: var(--roxo-hover);
}
@media screen and (max-width:788px){
    .container__titulo,.container__titulo-destaque{
        margin-top: 0;
        text-align: center;
    }
    .container__texto{
        margin: 0.5em 3em 0.2em;
        text-align: center;
        
    }
    .imagem_principal{
        margin:0 6em 8em;
    }
    
}
@media screen and (max-width:390px){
    .container__titulo,.container__titulo-destaque{
        font-size:2.5rem;
        margin: 3em 0.3em 0;
        text-align: center;
    }
    .container__texto{
        font-size: 20px;
        margin: 1em;
    }
    .imagem_principal{
        width: 341px;
        height: 230.61px;
    }
    .container__botao{
        margin: 0em 2em .5em;
    }
}